.header {
    margin: 0;
    height: 60px;
    padding: 10px 15px;
    font-family: Cursive !important;
    color: black !important;
    background-color: white;
}

.navHunter {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.navHunter:hover,
.navMenu:hover,
.nav:hover {
    color: dimgray;
}

.navMenu {
    padding-left: 60%;
    color: black;
    text-decoration: none;
}

.nav {
    padding-left: 15px;
    color: black;
    text-decoration: none;
}