* {
    box-sizing: border-box;
}

.background {
    background-color: #dfaa66;
    display: flex;
}

.menu {
    background-color: rgb(88, 86, 86);
    color: white;
    font-family: Cursive !important;
    margin: 50px 20%;
    padding: 30px;
    border-radius: 10px;
}

.foodType {
    padding-top: 70px;
}

.food {
    margin: 20px;
}


/* [class*="col-"] {
float: left;
padding: 15px;
} */

@media only screen and (max-width: 1024px) {
    /* For tablets: */
    .menu {
        margin: 50px 10%;
        font-size: 10px;
    }
}