.reservations {
    background-color: #dfaa66;
    color: white;
    font-family: Cursive !important;
}

.reservationsDescription {
    float: left;
    width: 40%;
    height: 100%;
}

.brief {
    padding: 150px 30px;
}

.brief p {
    font-size: 20px;
}

.reservationsForm {
    float: left;
    width: 60%;
}

form {
    padding: 150px 50px;
}

.reservationsFormRow {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 1px !important;
}

.inputs {
    width: 300px !important;
    height: 30px;
}

.reservationDate {
    background-color: white;
    width: 250px;
}

.numberOfGuests {
    width: 70px;
    background-color: white;
    margin-bottom: 20px;
}

.comments {
    height: 150px;
    width: 350px !important;
}

.submit {
    width: 120px;
    height: 40px;
    font-family: Cursive !important;
    border: 2px solid black;
    border-radius: 7px;
    margin-top: 60px;
}

.submit:hover {
    background-color: black;
    color: white;
}

.clear {
    clear: both;
}

.demo {
    color: red;
}