.orderNow {
    background: #dfaa66;
    font-family: Cursive !important;
}

.clintInformation {
    float: left;
    width: 60%;
    /* background-color: rgb(163, 131, 131); */
}

.shoppingCart {
    margin-top: 150px;
    float: left;
    width: 40%;
    /* background-color: green; */
}

.shoppingCart a {
    text-decoration: none;
    color: rgb(65, 62, 62);
}

.shoppingCart a:hover {
    transition: transform 250ms;
    display: inline-block;
    transform: translateY(-8px);
}

.clintInformationRow {
    height: 60px;
}

.clintInformationRow label {
    float: left;
    width: 15%;
}

.inputs {
    float: left;
    width: 85%;
}

.clintInformationRow input {
    width: 200px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
}

.demo {
    margin-top: 2px;
    color: red;
}

.clintInformation input[type=submit] {
    float: left;
    width: 90%;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    margin-top: 10px;
    margin-left: 130px;
}

.clintInformation input[type=submit]:hover {
    background-color: black;
    color: white;
}

.clear {
    clear: both;
}

.selectOrderRow {
    /* height: 470px; */
}

.selectOrderItem1,
.selectOrderItem2,
.selectOrderItem3 {
    float: left;
    width: 30%;
    /* background-color: aqua; */
    height: 470px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 2%;
    margin-bottom: 40px;
    background: white;
}

.addToOrder {
    margin: 5px 25%;
    border: 2px black solid;
    display: inline-block;
}

.addToOrder button {
    width: 70px;
    height: 30px;
}

.addToOrder label {
    width: 70px;
    font-family: Cursive !important;
}

.selectOrderImg {
    height: 200px;
}

.selectOrderRow h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    /* margin-bottom: 15px; */
    padding: 5px;
}

.selectOrderRow p,
.selectOrderRow h2 {
    text-align: center;
}

.shoppingCartContent {
    margin: 15px 10px;
    font-family: Cursive !important;
}

.shoppingCartContent table,
.shoppingCartContent th,
.shoppingCartContent td {
    border: 1px solid black;
    border-collapse: collapse;
    /* width: 100%; */
}

.shoppingCartContent th,
.shoppingCartContent td {
    padding: 10px 15px;
    text-align: center;
}

.changeOrderFromCart button {
    width: 30px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
}

.changeOrderFromCart button:hover {
    background-color: black;
    color: white;
}

.shoppingCartContent tr:nth-child(even) {
    background-color: rgb(190, 187, 187);
}

.shoppingCartContent tr:nth-child(odd) {
    background-color: #fff;
}


/* .shoppingCartImages {
    padding: 2px;
} */