.orderNow {
    background: #dfaa66;
    font-family: Cursive !important;
}

.Clint {
    padding-left: 2%;
}

.clintInformation {
    float: left;
    width: 60%;
    margin-top: 10%;
    /* margin-left: 1%; */
    /* background-color: rgb(163, 131, 131); */
}

.shoppingCart {
    margin-top: 150px;
    float: left;
    width: 40%;
    /* background-color: green; */
}

.shoppingCart a {
    text-decoration: none;
    color: rgb(65, 62, 62);
}

.shoppingCart a:hover {
    transition: transform 250ms;
    display: inline-block;
    transform: translateY(-8px);
}

.clintInformationRow {
    height: 60px;
}

.clintInformationRow label {
    float: left;
    width: 20%;
}

.inputs {
    float: left;
    width: 80%;
}

.clintInformationRow input {
    width: 50%;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
}

.demo {
    margin-top: 2px;
    color: red;
}

.clintInformation input[type=submit] {
    float: left;
    /* width: 90%; */
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 5%;
}

.clintInformation input[type=submit]:hover {
    background-color: black;
    color: white;
}

.clear {
    clear: both;
}

.selectOrderRow {
    /* height: 470px; */
}

.selectOrderItem {
    float: left;
    width: 30%;
    /* background-color: aqua; */
    height: 470px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 2%;
    margin-bottom: 40px;
    background: white;
}

.addToOrder {
    margin: 5px 25%;
    border: 2px black solid;
    display: inline-block;
}

.addToOrder button {
    width: 70px;
    height: 30px;
}

.addToOrder label {
    width: 70px;
    font-family: Cursive !important;
}

.selectOrderImg {
    height: 40%;
}

.selectOrderRow h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    /* margin-bottom: 15px; */
    padding: 5px;
}

.selectOrderRow p,
.selectOrderRow h2 {
    text-align: center;
}

.shoppingCartContent {
    margin: 15px 10px;
    font-family: Cursive !important;
}

.shoppingCartContent table,
.shoppingCartContent th,
.shoppingCartContent td {
    border: 1px solid black;
    border-collapse: collapse;
    /* width: 100%; */
}

.shoppingCartContent th,
.shoppingCartContent td {
    padding: 10px 15px;
    text-align: center;
}

.changeOrderFromCart button {
    width: 30px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
}

.changeOrderFromCart button:hover {
    background-color: black;
    color: white;
}

.shoppingCartContent tr:nth-child(even) {
    background-color: rgb(190, 187, 187);
}

.shoppingCartContent tr:nth-child(odd) {
    background-color: #fff;
}

@media only screen and (max-width: 1024px) {
    /* For tablets: */
    .selectOrderItem {
        font-size: 15px;
        width: 90%;
    }
    .shoppingCart {
        width: 30%;
    }
    .clintInformation {
        width: 70%;
        /* background-color: red; */
    }
    .clintInformationRow label {
        width: 40%;
    }
    .inputs {
        width: 60% !important;
    }
    .shoppingCartContent {
        font-size: 12px;
        margin: 0;
    }
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
        height: 100%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}